*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.header {
  height: 96vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(23, 29, 48, 0.8),
      rgba(56, 54, 54, 0.8)
    ),
    url(../img/hero_hype.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  display: flex;
  flex-direction: column;
}
.heading--primary-main {
  font-size: 4rem;
  font-weight: 400;
  animation-name: moveInleft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.heading-primary {
  color: #fff;
  backface-visibility: hidden;
}
.header__logo-box {
  width: 100vw;
}

.header__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.header__logo {
  height: 3.5rem;
}

.border {
  border: 10px solid grey;
}

.heading-primary--sub {
  display: block;
  font-size: 2.4rem;
  font-weight: 100;
  text-transform: capitalize;
  text-align: center;
  animation: MoveInRight 1s ease-out;
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translatex(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes ButtonUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: capitalize;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: ButtonUp 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
